sample-web-app/infras-tf/.terra*
sample-web-app/infras-tf/terra*
backstageio-app/node_modules
terraform_ecs_deploy_backstage/demo_backstage_terraform/terra*
terraform_ecs_deploy_backstage/demo_backstage_terraform/.terra*
